<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.report.mapper.JobMapper">

    <!-- TODO: 1. Reprot Jobs META -->

    <!-- Get Report 3 Jobs In Job Queue table "TM_REPORT" -->
    <select id="getJobs" resultType="JobDto">
        SELECT
            *
        FROM ${schema-name}TM_REPORT TR
        WHERE
            flag = #{flag}
        ORDER BY
            cre_dtime DESC
        LIMIT 1
    </select>

    <!-- Insert force Job Queue -->
    <insert id="insertJob" parameterType="JobDto">
        INSERT INTO
            ${schema-name}TM_REPORT (
                report_type,
                usr_id,
                -- file_nm,
                -- file_path,
                log_part,
                log_seq,
                flag
            )
        VALUES (
            0,
            #{usrId},
            #{lfilePart},
            #{lfileSeq},
            'R'
        )
    </insert>

    <!-- Update Report FLAG -->
    <update id="updateJob" parameterType="JobDto">
        UPDATE
        ${schema-name}TM_REPORT
        <set>
            flag = #{flag}
            , udt_dtime = CURRENT_TIMESTAMP
            <if test=' flag == "A" '>
                , end_dtime = CURRENT_TIMESTAMP
            </if>
            <if test=' err != null and err != "" '>
                , err = #{err}
            </if>
        </set>
        WHERE
            report_seq = #{reportSeq}::INT
    </update>

    <select id="getJob" parameterType="JobDto" resultType="ReportDto">
        SELECT
            *
        FROM ${schema-name}TM_REPORT_TYPE TR
        WHERE
            report_type = COALESCE(#{reportType}::INT, 0)
        ORDER BY
            sheet_name, sheet_seq
    </select>

</mapper>
